
@{
  ViewData["Title"] = "SignUp Page";
}

<div class='loginUser' >
        <div class='loginUser-title'>
            Sign Up      
        </div>
        <div className='signUpUser-textfield'>
            <div>
            <input type="text" class='signUpUser_field' placeholder='Enter your Username'/>
            </div>
            <div>
            <input type="text" class='signUpUser_field' placeholder='Enter your Email'/>
            </div>
            <div>
            <input type="password" class='signUpUser_field' placeholder='Enter your Password'/>
            </div>
            <div>
            <input type="password" class='signUpUser_field' placeholder='Confirm Your Password'/>
            </div>
            <div class='signUpUser_checkbox_div'>
            <input type="checkbox" class='signUpUser_checkbox' />
            <div class='signUpUser_checkbox_text'>Agree to the terms and conditions</div>
            </div>
            <div class='signUpUser_button_div'>
                <button class='signUpUser_button'>Sign Up</button>
            </div>
        </div>
    </div>


