@{
    ViewData["Title"] = "About Page";
}

<div class="about_div" style="font-family:'Cormorant Upright', serif;">
    <div class="about_img">
        <img src="~/images/lawyerabout.jpeg" />
    </div>

    <div class="about_para">
        <h1>About LawGeek</h1>
       <p> Lawgeek aligns with technology to transform<br />
    traditional legal services.We focus on providing<br />
    accessible legal services and have ditched the legal<br />
    jargon to offer a full serviced legal firm.<br />
    We offer competitive rates without skimping on the<br />
    value and experience our lawyers provide.</p>
    </div>
</div>