@{
    ViewData["title"] = "Home Page";
}

<img src="images/lawyer2.jpg" class="img-fluid" alt="...">
<div class="home_text">
    <p>Legal system made simple with law geek
        </p>

       <button class="home_button"> <a  asp-controller="About" asp-action="About">
            Book For Your Consult
        </a>
        </button>
    </div>