@{
    ViewData["title"] = "Home Page";
}

<img src="images/lawyer2.jpg" class="img-fluid" alt="...">
<div class="home_text">
    <div class=home_mission>
        <h1>Our mission</h1> Law Geek eradicates the gap between<br/>law and technology
    </div>
        <div class="home_contact">
        <p>Let's join our path on being a Humanitarian</p>
        <h3>Let's do it together</h3>

       <button class="home_button"> <a  asp-controller="Lawyer" asp-action="Lawyer">
            Book For Your Consult
        </a>
        </button>
        </div>
    </div>