
@{
  ViewData["Title"] = "Booking Page";
}

<div class='loginUser'> 
        <div class='loginUser-title'>
            Book Appointment      
        </div>
        <div className='signUpUser-textfield'>
            <div>
            <input type="text" class='signUpUser_field' placeholder='Enter your name'/>
            </div>
            <div>
            <input type="number" class='signUpUser_field' placeholder='Enter your Phone no.'/>
            </div>
            <div>
            <input type="text" class='signUpUser_field' placeholder='Enter your email'/>
            </div>
            <div>
            <input type="date" class='signUpUser_field' placeholder='Confirm Your date'/>
            </div>
            <div class='signUpUser_checkbox_div'>
            <input type="checkbox" class='signUpUser_checkbox' />
            <div class='signUpUser_checkbox_text'>Accept the terms</div>
            </div>
            <div class='signUpUser_button_div'>
                <button class='signUpUser_button'>Confirm</button>
            </div>
        </div>
    </div>



