@{
    ViewData["Title"] = "Lawyers Page";
}
<h1 class="text-center" style="font-family:'Cormorant Upright', serif;">Contact your lawyer</h1>
<div class="container" style="font-family:'Cormorant Upright',serif;">
  <div class="row">
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 1</h5>
                <p class="card-text">Book this consult to make it easy for you</p>    
                <a class="btn btn-secondary" asp-controller="Lawyer" asp-action="LawyerSingle">Book Appointment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 2</h5>
                <p class="card-text">Book this consult to make it easy for you</p>  
                <a href="#" class="btn btn-secondary">Book Appointment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 3</h5>
                <p class="card-text">Book this consult to make it easy for you.</p>
     
                <a href="#" class="btn btn-secondary">Book Appintment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 4</h5>
                <p class="card-text">Book this consult to make it easy for you.</p>
         
                <a href="#" class="btn btn-secondary">Book Appointment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 5</h5>
                <p class="card-text">Book this consult to make it easy for you.</p> 
                <a href="#" class="btn btn-secondary">Book Appointment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lawyer 6</h5>
                <p class="card-text">Book this consult to make it easy for you</p>
             
                <a href="#" class="btn btn-secondary">Book Appointment</a>
            </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

