@{
    ViewData["Title"] = "Single Lawyer";
}

<div class="container pt-4" style="font-family:'Cormorant Upright', serif;">
  <div class="row p-3" style="background-color:#efe5da;">
    <div class="col">
      <img src="~/images/lawyer.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col my-auto">
      <h1 class="card-title">Lawyer 1</h1>
      <p class="card-text" style="font-size: 25px;">I am a lawyer with 10 years of experience in the field of criminal case</p>  
      <a  class="btn btn-secondary" asp-controller="Lawyer" asp-action="Book">Book appointment</a>   
  </div>
  </div>
</div>

<div class="container pt-4">
<div class="row">
    <h1>What You Will Get</h1>
    <p>After selecting this consult you will be able to fight our case your own way</p>
    <ul>
        <li>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </li>
        <li>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </li>
        <li>
             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
        </li>
    </ul>
</div>    

</div>
